
@media screen and (min-width: 55.1em) {
    .Body {
        margin-top: 8vw;
        padding-left: 1.75vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 55em) {
    .Body {
        margin-top: 16vw;
    }
}