.Card {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
    background-color: #33363e;
    border-radius: 2vw;
    height: 40vw;
    width: 95vw;
    font-family: 'Autour One';
    color: #efeade;
    font-size: 1.5vw;
}

.Card p {
    font-size: 2.7vw;
    margin: 1vw;
}

.panel-top {
    display: flex;
    align-items: center;
    background-color: #272a36;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    height: 12vw;
}

.city-name {
    margin-left: 2vw;
    font-family: 'Young Serif';
    font-size: 6vw;
}

.region-name {
    margin-left: 4vw;
    margin-top: 2.1vw;
    font-family: 'Young Serif';
}

.main-panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vw;
}

.panel-left, .panel-center, .panel-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}

.panel-left {
    width: 26%;
}

.panel-center {
    width: 32%
}

.panel-right {
    display: flex;
    justify-content: center;
    width: 42%;
    margin-top: -1.5vw;
}

.icon {
    height: 24vw;
    width: 24vw;
    margin-top: -2.8vw;
    margin-bottom: -3.5vw;
}

.description, .feelslike {
    font-size: 3vw;
}

.temperature {
    font-size: 9vw;
    margin-top: 3vw;
    margin-bottom: 3.5vw;
}

.panel-bottom {
    height: 4vw;
    width: 100%;
}

.collapsible {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.collapsible .collapse-content {
    background-color: #33363e;
    width: 95vw;
    height: 106vw;
    border-style: solid;
    border-radius: 2vw;
    border-width: .25vw;
    border-color: #ec6e4c;
    z-index: top;
    position:relative;
}
.collapsible .collapse-header {
    background-color: #272a36;
    cursor: pointer;
    margin-top: -1.5vw;
    height: 5.5vw;
    width: 20%;
    border-top-left-radius: .25vw;
    border-bottom-right-radius: 2vw;
}

.collapsible .collapse-header .header-forecast, .collapsible .collapse-header .header-hide {
    display: flex;
    font-size: 2.3vw;
    margin-top:1.5vw;
    margin-left: .75vw;
}

.down-arrow, .up-arrow {
    height: 3vw;
    width: 3vw;
    margin-right: 1vw;
}

.up-arrow {
    margin-right: 3.45vw;
}