.Card {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
    background-color: #3b3e47;
    border-radius: 2vw;
    height: 40vw;
    width: 95vw;
    font-family: 'Autour One';
    color: #efeade;
    font-size: 1.5vw;
}

.panel-one {
    display: flex;
    align-items: center;
    background-color: #323644;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    height: 10vw;
}

.city-name {
    margin-left: 2vw;
    font-family: 'Young Serif';
    font-size: 5vw;
}

.region-name {
    margin-left: 4vw;
    margin-top: 2.1vw;
    font-family: 'Young Serif';
}