.Card {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
    background-color: #33363e;
    border-radius: 2vw;
    height: 40vw;
    width: 95vw;
    font-family: 'Autour One';
    color: #efeade;
    font-size: 1.5vw;
}

.Card p {
    font-size: 2.5vw;
    margin: .8vw;
}

.panel-top {
    display: flex;
    align-items: center;
    background-color: #272a36;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    height: 12vw;
}

.city-name {
    margin-left: 2vw;
    font-family: 'Young Serif';
    font-size: 6vw;
}

.region-name {
    margin-left: 4vw;
    margin-top: 2.1vw;
    font-family: 'Young Serif';
}

.main-panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vw;
}

.panel-left, .panel-center, .panel-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}

.panel-left, .panel-center {
    width: 28%;
}

.panel-right {
    width: 44%;
    padding-top: .8vw;
}

.icon {
    height: 24vw;
    width: 24vw;
    margin-top: -4vw;
    margin-bottom: -2vw;
}

.description, .feelslike {
    font-size: 3vw;
}

.temperature {
    font-size: 8vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.direction {
    padding-top: 1.5vw;
}

.panel-bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.collapsible {
    z-index: top;
    position:relative;
}

.collapsible .collapse-content {
    padding: 6px;
    background-color: #eeeeee;
}
.collapsible .collapse-header {
    background-color: #dddddd;
    padding: 6px;
    cursor: pointer;
}

/* #forecast-button {
    
} */