.Header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Young Serif';
    color: #efeade;
    cursor: default;
    width: 100vw;
    margin-top: -1.5vw;
    margin-left: 4vw;
    margin-right: 2vw;
}

.header-left {
    display:flex;
    align-items: center;
}

.title-sub {
    color: #a52a2a;
}

.fahrenheit-button, .celcius-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Young Serif';
    color: #efeade;
    background: none;
    border: none;
}

@media screen and (min-width: 55.1em) {
    .Header {
        font-size: 2vw;
        height: 10vw;
    }

    .github-image {
        height: 2.33vw;
        width: 2.33vw;
    }

    .fahrenheit-button, .celcius-button {
        font-size: 1.75vw;
        height: 1.25vw;
        width: 1.25vw;
    }

    .fahrenheit-button {
        margin-left: 6vw;
        margin-right: 3vw;
    }
  }
  
  @media screen and (max-width: 55em) {
    .Header {
        font-size: 4vw;
        height: 20vw;
    }

    .github-image {
        height: 6vw;
        width: 6vw;
    }

    .fahrenheit-button, .celcius-button {
        font-size: 4vw;
        height: 3vw;
        width: 3vw;
    }

    .fahrenheit-button {
        margin-left: 7vw;
        margin-right: 5vw;
    }
  }